/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

html{
    font-size:62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height:1.5;
    font-size:1.6rem;
    margin-bottom: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-size: 2.5rem;
    margin-bottom: 2%;
    font-family: 'Rubik', sans-serif;
}
section{
    padding:4% 0;
    width: 90%;
    margin: 0 auto;
}
footer{
    width: 100%;
    margin: auto;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/*Top Section Styles*/
html{
    font-size: 62.5;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 20px;
}

section{
    padding: 4% 0;
    width: 100%;
    margin: 0 auto;
}
.logo{
    width: 20%;
    margin-left: 3%;
}
.logo h1{
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
    
    
}

.links{
  width: 75%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  
}
.footerlinks{
    width: 85%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  
}
a {
    text-decoration: none;
    letter-spacing: 3px;
    color: black;
    font-family: "PT Sans", sans-serif;
   text-decoration: none;
    
}



.rectangle{
    display: block;
    width: 1000%;
    align-items: center;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 4%;
    border-bottom: 2px solid #ff4b00;
    text-align: justify;
}

.top-content .text-container {
    width: 35%;
    padding: 0 1%;
    padding-bottom: 4%;  
}

/*Middle Section Styles*/


.middle-content {
    margin-bottom: 4%;
}

.middle-content h2 {
    margin-bottom: 0;
}

.flexContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.flexItem{
    margin: 1%;
}

.boxOne{
    background-color:teal;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxTwo{
    background-color: gold;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxThree{
    background-color: cadetblue;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxFour{
    background-color:coral;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxFive{
    background-color:crimson;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxSix{
    background-color:forestgreen;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxSeven{
    background-color:darkorchid;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxEight{
    background-color:hotpink;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxNine{
    background-color:indigo;
    height: 200px;
    width: 200px;
    text-align: center;
  }
  .boxTen{
    background-color:dodgerblue;
    height: 200px;
    width: 200px;
    text-align: center;
  }
    







/*Bottom Section Styles*/
.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content .text-container {
    width:25%;
    padding: 0 1%;
    padding-bottom: 4%; 
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

/*Footer Styles*/
footer {
    
    padding: 70px;
    width: 100%;
    height: 200%;
    background-color: #ff4b00;
    
    
}

/*About Page Styles*/
#about {
    display: flex;
    justify-content: center;
}
.aboutpic{
    display: block;
    width: 1000%;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 100px;
}
.container{
    text-align: center;
    padding: 20px;
}
.footerlinks{
    width: 85%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  
}


/*Responsive Styles*/

@media(max-width: 500px){
.top-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexItem{
    width: 40%;
}

.bottom-content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.bottom-content .text-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}
.footerlinks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row{
    display: flex;
    flex-direction: column;
    
    
}
.container{
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.bottomsec{
    display:flex;
    flex-direction: column;
    align-items: center;
}



}



